* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 1em 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

#brand {
  font-size: xx-large;
  color: rgb(145, 119, 168);
  font-weight: lighter;
  font-family: sans-serif;
  flex: 50%;
}

#search {
  flex: 50%;
  background: linear-gradient(rgb(115, 238, 115), rgb(194, 241, 202));
  background: -webkit-linear-gradient(rgb(115, 238, 115), rgb(194, 241, 202));
  background: -o-linear-gradient(rgb(115, 238, 115), rgb(194, 241, 202));
  background: -moz-linear-gradient(rgb(115, 238, 115), rgb(194, 241, 202));
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 1em 0;
}

#searchtext {
  color: rgb(228, 76, 76);
  padding: 0.2em;
}

#searchbutton {
  background-color: rgb(157, 60, 248);
  color: white;
  font-size: small;
  font-weight: bold;
  padding: 0.2em;
}

#menu {
  background-image: linear-gradient(rgb(176, 248, 161), rgb(188, 236, 14));
  background-image: -o-linear-gradient(rgb(176, 248, 161), rgb(188, 236, 14));
  background-image: -webkit-linear-gradient(
    rgb(176, 248, 161),
    rgb(188, 236, 14)
  );
  background-image: -moz-linear-gradient(rgb(176, 248, 161), rgb(188, 236, 14));
  margin: 1em 0;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 800px) {
  #menu {
    flex-direction: column;
  }
}
#menu a {
  /*float: left;*/
  color: rgb(193, 141, 241);
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: font-size 0.3s linear;
  -moz-transition: font-size 0.3s linear;
  -o-transition: font-size 0.3s linear;
  transition: font-size 0.3s linear;
  text-decoration: none;
  padding: 0 2em;
  /*border-right: 1px solid rgb(162, 78, 241);*/
  margin: auto 0;
}

#menu a:hover,
#menu a:active {
  font-size: 1.1em;
}

#menu :nth-child(5) {
  border-right: none;
}

#introduction {
  background-image: linear-gradient(rgb(196, 236, 18), rgb(228, 240, 228));
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em;
}

#introduction h2 {
  font-weight: lighter;
  color: rgb(6, 97, 6);
  padding: 0.5em;
  font-size: 2em;
  text-align: justify;
}

#introduction p {
  color: rgb(9, 202, 51);
  padding: 0.5em;
}

#sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#sidebar1 {
  border-radius: 10px;
  border: 2px solid rgb(202, 191, 191);
  padding: 0 0.8em;
  flex: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
#sidebar1 h3 {
  color: rgb(231, 16, 231);
  margin-left: 2em;
  min-width: 300px;
}
#lesson {
  list-style: none;
}

.i-space {
  margin-right: 0.5em;
  color: rgb(241, 32, 67);
}

#lesson li {
  color: rgb(104, 6, 104);
  padding-bottom: 0.5em;
}

#sidebar2 {
  border-radius: 10px;
  border: 2px solid rgb(156, 147, 147);
  padding: 0 0.8em;
  flex: 1;
  margin: 1em 0;
  min-width: 300px;
}

#sidebar2 h3 {
  color: rgb(233, 14, 233);
  margin-left: 2em;
}

#sidebar2 ul li {
  list-style: none;
  padding-bottom: 0.5em;
}
.i-check {
  margin-right: 0.5em;
  color: rgb(6, 136, 64);
}

footer {
  height: 100px;
  background-image: linear-gradient(rgb(171, 240, 116), white);
}

footer p {
  padding: 1.5em 1em;
}
