.logo {
  width: 80px;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.avatar {
  width: 50px;
  height: 30px;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav {
  z-index: 1;
  background-color: black;
}
