.nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  z-index: 1;
  width: 100%;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.logo {
  width: 80px;
  height: 30px;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.8em;
}

.avatar {
  width: 50px;
  height: 30px;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 0.8em;
}

.nav_black {
  background-color: black;
}
