.nav{
  background-color: rgb(158, 223, 243);
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  top: 0;
  width: 100%;
}

.App{
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  width:100vw;
  height:100vh;
}
