.weather_details {
    border-radius: 1em;
    margin: auto;
    width:80vw;
    margin-top:10vh;
    background-image: url('../public/photo-1507525428034-b723cf961d3e.jpg');
    /* cover the whole viewport*/
    background-size: cover;
    z-index: 1;
}

.weather_sunrise_sunset,
.weather_humidity_temperature,
.weather_day {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-top: 5vh;
    object-fit: contain;
}